@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);
:root {
    --complete-color: rgb(30, 184, 51, 0.9);
    --complete-color-hover: rgba(21, 156, 39, 0.9);
    --doing-color1: rgba(207, 152, 0, 0.9);
    --doing-color2: rgba(255, 203, 61, 0.9);
}
@keyframes doing-animation {
    from { background-color: var(--doing-color1); }
    to { background-color: var(--doing-color2); }
}
* {
    margin: 0; padding: 0;
    font-family: "NanumSquare", "돋움", Dotum, sans-serif;
}
html, body {
    height: 100%;
    transition: background 0.1s;
}
html:not(.dark-theme) {
    background-color: white;
    color: black;
    font-weight: 400;
    --a-button-color: #0000ff;
    --unavailable-color: rgba(0, 0, 0, 0.6);
    --dotw-seperator: black;
}
html.dark-theme {
    background-color: rgb(41, 42, 42);
    color: white;
    font-weight: 300;
    --a-button-color: #008cff;
    --unavailable-color: rgba(255, 255, 255, 0.6);
    --dotw-seperator: #dddddd;
}
.body-div {
    width: 100%;
    height: 100%;
}
.body-right {
    text-align: center;
}
#table {
    border-collapse: collapse;
}
.dotw {
    text-align: center;
    border-bottom: 1px solid var(--dotw-seperator);
    padding: 4px 0;
}
.subject {
    text-align: center;
    cursor: default;
    cursor: pointer;
}
.subject-td {
    padding: auto;
    font-size: 22px;
    cursor: pointer;
    transition: background 0.1s;
}
.selected-subject {
    font-weight: 900;
}
.current-subject {
    font-weight: 500;
}
.go-to-button {
    font-size: 26px;
    border: 1px solid #0c9c5a;
    border-radius: 20px;
    padding: 14px 30px;
    margin: 10px 30px;
    cursor: pointer;
    transition: background 0.2s;
    display: inline-block;
}
@media screen and (min-width: 1100px) {
    .body-div {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
    }
    .body-left {
        height: 100%;
        grid-column: 1 / 4;
        border-right: 1px solid gray;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .body-right {
        height: 100%;
        display: flex;
        grid-column: 4 / 9;
        justify-content: center;
        align-items: center;
        padding: auto 0;
    }
    #table {
        float: right;
        margin-right: 40px;
    }
    .subject-td {
        width: 100px;
        height: 80px;
    }
    .message-wrapper {
        font-size: 50px;
    }
    .current-subject {
        font-size: 70px;
    }
    .subject-submessage {
        font-size: 30px;
    }
    .time-wrapper {
        position: absolute;
        text-align: right;
        font-size: 20px;
    }
    #go-back { 
        top: 20%;
        left: 37.5%;
        position: absolute;
    }
}
@media screen and (max-width: 1099px) {
    @media screen and (min-width: 700px) {
        .message-wrapper {
            font-size: 50px;
        }
        .current-subject {
            font-size: 70px;
        }
        .subject-submessage {
            font-size: 30px;
        }
    }
    @media screen and (max-width: 699px) {
        .message-wrapper {
            font-size: 30px;
        }
        .current-subject {
            font-size: 40px;
        }
        .subject-submessage {
            font-size: 20px;
        }
        .go-to-button {
            font-size: 20px;
            padding: 10px 20px;
        }
        .time {
            font-size: 18px;
        }
    }
    .body-left {
        width: 100%;
        display: flex;
        border-bottom: 1px solid gray;
        padding: 10px 0;
        justify-content: center;
        align-items: center;
    }
    .body-right {
        margin-top: 100px;
        height: 400px;
        padding: 0 20px;
    }
    .time-wrapper {
        position: relative;
        text-align: right;
        font-size: 20px;
    }
    .subject-td {
        width: 100px;
        height: 40px;
    }
}
.subject-td:hover { background: rgba(128, 128, 128, 0.2); }
.done-subject { 
    background-color: var(--complete-color);
}
.done-subject:hover { 
    background-color: var(--complete-color-hover) !important;
}
.doing-subject { 
    animation-duration: 1.2s;
    animation-name: doing-animation;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.go-to-zoom { 
    border: 1px solid rgb(45, 140, 255);
}
.go-to-wedorang:hover { 
    background: #0c9c5a;
}
.go-to-zoom:hover { 
    background: rgb(45, 140, 255);
    color: black;
}
.go-to-button::before { 
    content: '';
}
.go-to-zoom.no-zoom-link { 
    border: 1px solid rgba(45, 140, 255, 0.6);
    color: var(--unavailable-color);
    cursor: not-allowed;
    transition: 0s;
}
.go-to-zoom.no-zoom-link::before { 
    content: '';
}
.go-to-zoom.no-zoom-link:hover { 
    background: initial;
    color: rgba(255, 255, 255, 0.6);
}
.time-wrapper {
    width: 100%;
}
.time { 
    margin-top: 10px;
    margin-right: 20px;
}
#go-back { 
    margin-right: 20px;
    color: var(--a-button-color);
    padding-left: 10px;
    cursor: pointer;
    font-size: 16px;
}
#go-back:hover {
    text-decoration: underline;
}
.other-buttons-wrapper {
    vertical-align: bottom;
    text-align: right;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding-bottom: 10px;
}
.github { 
    color: var(--a-button-color);
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
    margin-right: 20px;
}
.github:hover {
    text-decoration: underline;
}
.dark-light-button {
    cursor: pointer;
}
.dark-light-tooltiptext {
    visibility: hidden;
    text-align: right;
    position: absolute;
    color: inherit;
    bottom: 100%;
    right: 0;
    margin-right: 10px;
    margin-bottom: 5px;
    background: rgb(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 5px;
}
.dark-light-wrapper:hover .dark-light-tooltiptext {
    visibility: visible;
}
.dark-light-wrapper {
    margin-right: 27px;
}